@charset "UTF-8";
@font-face {
  font-family: JetBrainsMono;
  src: url(assets/fonts/JetBrainsMono.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url(assets/fonts/rubik/Rubik-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(assets/fonts/vazir/Vazir-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: transparent;
  outline: none;
}

body.light *:hover::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
body.dark *:hover::-webkit-scrollbar-thumb {
  background-color: #424c55;
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

body.light ::-moz-selection {
  background-color: #45b6dc;
}

body.light ::selection {
  background-color: #45b6dc;
}
body.dark ::-moz-selection {
  background-color: #4c9ce2;
}
body.dark ::selection {
  background-color: #4c9ce2;
}
body.light ::-moz-selection {
  color: #fff;
}
body.light ::selection {
  color: #fff;
}
body.dark ::-moz-selection {
  color: #fff;
}
body.dark ::selection {
  color: #fff;
}

html {
  font-family: Rubik, Vazir;
  direction: ltr;
  overflow-x: hidden;
  font-size: 14px;
  letter-spacing: 0.2px;
}
body.light html {
  color: #000;
}
body.dark html {
  color: #fff;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-width: 900px;
}

body.light {
  background-color: #f1f1f1;
}

body.dark {
  background-color: #242f3d;
}

body.light a {
  color: #45b6dc;
}
body.dark a {
  color: #4c9ce2;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubik;
  border: none;
  border-radius: 3px;
  padding: 0 1em;
  height: 3.5em;
  font-weight: 600;
  min-width: 14em;
  padding: 0 2em;
  cursor: pointer;
  position: relative;
  border: 2px solid;
  transition: 0.3s ease-in all;
}
body.light button {
  color: #000;
}
body.dark button {
  color: #fff;
}
body.light button {
  background-color: #fff;
}
body.dark button {
  background-color: #131a22;
}

button.active,
button:active,
button.loading {
  transform: scale(0.95);
  transition: 0.1s ease-in all;
}

button.mini {
  min-width: auto;
  height: 3em;
}

body.light button.primary span,
body.light button.primary i,
body.light button.success span,
body.light button.success i,
body.light button.warning span,
body.light button.warning i,
body.light button.info span,
body.light button.info i,
body.light button.danger span,
body.light button.danger i {
  color: #fff;
}
body.dark button.primary span,
body.dark button.primary i,
body.dark button.success span,
body.dark button.success i,
body.dark button.warning span,
body.dark button.warning i,
body.dark button.info span,
body.dark button.info i,
body.dark button.danger span,
body.dark button.danger i {
  color: #fff;
}

body.light button.primary {
  background: #45b6dc;
  color: #fff;
  border-color: #45b6dc;
}
body.dark button.primary {
  background: #4c9ce2;
  color: #fff;
  border-color: #4c9ce2;
}

body.light button.success {
  background: #00b472;
  color: #fff;
  border-color: #00b472;
}
body.dark button.success {
  background: #00b472;
  color: #fff;
  border-color: #00b472;
}

body.light button.warning {
  background: #F7C137;
  color: #000;
  border-color: #F7C137;
}
body.dark button.warning {
  background: #db863b;
  color: #fff;
  border-color: #db863b;
}

body.light button.info {
  background: #00C1D4;
  color: #fff;
  border-color: #00C1D4;
}
body.dark button.info {
  background: #7965c1;
  color: #fff;
  border-color: #7965c1;
}

body.light button.danger {
  background: #D63649;
  color: #fff;
  border-color: #D63649;
}
body.dark button.danger {
  background: #dd4554;
  color: #fff;
  border-color: #dd4554;
}

body.light button.primary.border {
  background: transparent;
  color: #45b6dc;
  border-color: #45b6dc;
}
body.light button.primary.border:hover {
  background: #45b6dc;
  color: #fff;
}
body.dark button.primary.border {
  background: transparent;
  color: #4c9ce2;
  border-color: #4c9ce2;
}
body.dark button.primary.border:hover {
  background: #4c9ce2;
  color: #fff;
}

body.light button.primary.border span {
  color: #45b6dc;
}
body.dark button.primary.border span {
  color: #4c9ce2;
}

body.light button.primary.border i {
  color: #45b6dc;
}
body.dark button.primary.border i {
  color: #4c9ce2;
}

body.light button.success.border {
  background: transparent;
  color: #00b472;
  border-color: #00b472;
}
body.light button.success.border:hover {
  background: #00b472;
  color: #fff;
}
body.dark button.success.border {
  background: transparent;
  color: #00b472;
  border-color: #00b472;
}
body.dark button.success.border:hover {
  background: #00b472;
  color: #fff;
}

body.light button.success.border span {
  color: #00b472;
}
body.dark button.success.border span {
  color: #00b472;
}

body.light button.success.border i {
  color: #00b472;
}
body.dark button.success.border i {
  color: #00b472;
}

body.light button.warning.border {
  background: transparent;
  color: #F7C137;
  border-color: #F7C137;
}
body.light button.warning.border:hover {
  background: #F7C137;
  color: #fff;
}
body.dark button.warning.border {
  background: transparent;
  color: #db863b;
  border-color: #db863b;
}
body.dark button.warning.border:hover {
  background: #db863b;
  color: #fff;
}

body.light button.warning.border span {
  color: #F7C137;
}
body.dark button.warning.border span {
  color: #db863b;
}

body.light button.warning.border i {
  color: #F7C137;
}
body.dark button.warning.border i {
  color: #db863b;
}

body.light button.info.border {
  background: transparent;
  color: #00C1D4;
  border-color: #00C1D4;
}
body.light button.info.border:hover {
  background: #00C1D4;
  color: #fff;
}
body.dark button.info.border {
  background: transparent;
  color: #7965c1;
  border-color: #7965c1;
}
body.dark button.info.border:hover {
  background: #7965c1;
  color: #fff;
}

body.light button.info.border span {
  color: #00C1D4;
}
body.dark button.info.border span {
  color: #7965c1;
}

body.light button.info.border i {
  color: #00C1D4;
}
body.dark button.info.border i {
  color: #7965c1;
}

body.light button.danger.border {
  background: transparent;
  color: #D63649;
  border-color: #D63649;
}
body.light button.danger.border:hover {
  background: #D63649;
  color: #fff;
}
body.dark button.danger.border {
  background: transparent;
  color: #dd4554;
  border-color: #dd4554;
}
body.dark button.danger.border:hover {
  background: #dd4554;
  color: #fff;
}

body.light button.danger.border span {
  color: #D63649;
}
body.dark button.danger.border span {
  color: #dd4554;
}

body.light button.danger.border i {
  color: #D63649;
}
body.dark button.danger.border i {
  color: #dd4554;
}

body.light button.primary.border:hover span,
body.light button.success.border:hover span,
body.light button.warning.border:hover span,
body.light button.info.border:hover span,
body.light button.danger.border:hover span {
  color: #fff;
}
body.dark button.primary.border:hover span,
body.dark button.success.border:hover span,
body.dark button.warning.border:hover span,
body.dark button.info.border:hover span,
body.dark button.danger.border:hover span {
  color: #fff;
}

form .actions.mini button.loading,
.top button.loading,
button.success.loading,
button.warning.loading,
button.danger.loading,
button.primary.loading {
  border-radius: 100px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 0;
}
body.light form .actions.mini button.loading,
body.light .top button.loading,
body.light button.success.loading,
body.light button.warning.loading,
body.light button.danger.loading,
body.light button.primary.loading {
  background-color: transparent;
}
body.dark form .actions.mini button.loading,
body.dark .top button.loading,
body.dark button.success.loading,
body.dark button.warning.loading,
body.dark button.danger.loading,
body.dark button.primary.loading {
  background-color: transparent;
}

button.loader,
button.success.loader,
button.warning.loader,
button.danger.loader {
  animation: loader 0.4s linear infinite;
}
body.light button.loader,
body.light button.success.loader,
body.light button.warning.loader,
body.light button.danger.loader {
  border-right-color: transparent;
}
body.dark button.loader,
body.dark button.success.loader,
body.dark button.warning.loader,
body.dark button.danger.loader {
  border-right-color: transparent;
}

button .loading_done,
button .loading_done_fail {
  display: none;
  position: absolute;
  font-size: 1.5em;
}

button.done .loading_done {
  display: initial;
}

button.done .loading_done i {
  visibility: visible;
}

button.done.fail .loading_done {
  display: none;
}

button.done.fail .loading_done_fail {
  display: initial;
}

button.done.fail .loading_done_fail i {
  visibility: visible;
}

button.loading i,
button.loading .txt {
  display: none;
}

button.done i,
button.done .txt {
  display: initial;
  visibility: hidden;
}

.pulse {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes loader {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
button.min {
  width: 40px;
  min-width: 40px;
  height: 30px;
  font-size: 0.7em;
}

button.min2 {
  width: 20px;
  min-width: 20px;
  height: 20px;
  font-size: 0.6em;
}

i {
  font-size: 1.75em;
  font-family: unicons-line;
}
body.light i {
  color: #999999;
}
body.dark i {
  color: #bdbdbd;
}

button.i {
  position: relative;
  min-width: auto;
  border: none;
  width: auto;
  height: auto;
  min-width: 1em;
  min-height: 1em;
  padding: 0;
}
body.light button.i {
  background-color: transparent;
}
body.dark button.i {
  background-color: transparent;
}

button.circle,
.icon.circle,
.modal button.circle,
.modal .icon.circle {
  height: 3.25em;
  min-width: 3.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1em;
  padding: 0;
}
body.light button.circle,
body.light .icon.circle,
body.light .modal button.circle,
body.light .modal .icon.circle {
  box-shadow: 0 0 5px #c1c1c1;
}
body.dark button.circle,
body.dark .icon.circle,
body.dark .modal button.circle,
body.dark .modal .icon.circle {
  box-shadow: 0 0 5px #424c55;
}
body.light button.circle,
body.light .icon.circle,
body.light .modal button.circle,
body.light .modal .icon.circle {
  background-color: #45b6dc;
}
body.dark button.circle,
body.dark .icon.circle,
body.dark .modal button.circle,
body.dark .modal .icon.circle {
  background-color: #4c9ce2;
}

body.light button.circle i,
body.light .icon.circle i {
  color: #fff;
}
body.dark button.circle i,
body.dark .icon.circle i {
  color: #fff;
}

input {
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  height: 2.25em;
  padding: 0 1em;
  font-family: inherit;
  font-size: inherit;
  min-width: 14em;
}
body.light input {
  border-color: #f1f1f1;
}
body.dark input {
  border-color: #fff;
}
body.light input {
  color: #000;
}
body.dark input {
  color: #fff;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  min-width: initial;
}

input[type=file] {
  display: none;
}

input:focus {
  border-width: 2px;
}
body.light input:focus {
  border-color: #45b6dc;
}
body.dark input:focus {
  border-color: #4c9ce2;
}

::-moz-placeholder {
  color: #858585;
}

::placeholder {
  color: #858585;
}
body.light ::-moz-placeholder {
  color: #858585;
}
body.light ::placeholder {
  color: #858585;
}
body.dark ::-moz-placeholder {
  color: #838383;
}
body.dark ::placeholder {
  color: #838383;
}

body.light input:disabled {
  background-color: #c3c3c3;
}
body.dark input:disabled {
  background-color: #01070e;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  min-height: 1.75em;
  max-height: 6em;
  overflow: overlay;
  padding: 0 1em;
  font-family: inherit;
  font-size: inherit;
  min-width: 14em;
  font-size: 1.1em;
  font-family: Rubik;
}
body.light textarea {
  border-color: #f1f1f1;
}
body.dark textarea {
  border-color: #fff;
}
body.light textarea {
  color: #000;
}
body.dark textarea {
  color: #fff;
}

textarea:focus {
  border-width: 2px;
}
body.light textarea:focus {
  border-color: #45b6dc;
}
body.dark textarea:focus {
  border-color: #4c9ce2;
}

i.black {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

span {
  text-overflow: ellipsis;
  overflow: hidden;
}
body.light span {
  color: #000;
}
body.dark span {
  color: #fff;
}

body.light p {
  color: #000;
}
body.dark p {
  color: #fff;
}

.rotate_180 {
  transform: rotateY(180deg);
}

.align_right {
  text-align: right;
  max-width: 10em;
  width: 10em;
}

body.light label {
  color: #999999;
}
body.dark label {
  color: #bdbdbd;
}

.label {
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 3px;
}

body.light .label.primary {
  background: #45b6dc;
  color: #fff;
  border-color: #45b6dc;
}
body.dark .label.primary {
  background: #4c9ce2;
  color: #fff;
  border-color: #4c9ce2;
}

body.light .label.success {
  background: #00b472;
  color: #fff;
  border-color: #00b472;
}
body.dark .label.success {
  background: #00b472;
  color: #fff;
  border-color: #00b472;
}

body.light .label.warning {
  background: #F7C137;
  color: #000;
  border-color: #F7C137;
}
body.dark .label.warning {
  background: #db863b;
  color: #fff;
  border-color: #db863b;
}

body.light .label.info {
  background: #00C1D4;
  color: #fff;
  border-color: #00C1D4;
}
body.dark .label.info {
  background: #7965c1;
  color: #fff;
  border-color: #7965c1;
}

body.light .label.danger {
  background: #D63649;
  color: #fff;
  border-color: #D63649;
}
body.dark .label.danger {
  background: #dd4554;
  color: #fff;
  border-color: #dd4554;
}

.caption {
  color: #000;
  font-size: 0.85em;
}
body.light .caption {
  color: #000;
}
body.dark .caption {
  color: #cacaca;
}

.caption.min {
  color: #000;
  font-size: 0.6em;
}
body.light .caption.min {
  color: #000;
}
body.dark .caption.min {
  color: #cacaca;
}

.color_caption {
  color: #000;
}
body.light .color_caption {
  color: #000;
}
body.dark .color_caption {
  color: #cacaca;
}

body.light .color_btn_txt {
  color: #fff;
}
body.dark .color_btn_txt {
  color: #fff;
}

body.light .color_txt_primary {
  color: #000;
}
body.dark .color_txt_primary {
  color: #fff;
}

body.light .color_txt_secondary {
  color: #2E384D;
}
body.dark .color_txt_secondary {
  color: #fff;
}

body.light .color_txt_quaternary {
  color: #fff;
}
body.dark .color_txt_quaternary {
  color: #bdbdbd;
}

body.light .color_primary {
  color: #45b6dc;
}
body.dark .color_primary {
  color: #4c9ce2;
}

body.light .color_label {
  color: #999999;
}
body.dark .color_label {
  color: #bdbdbd;
}

body.light .color_success {
  color: #00b472;
}
body.dark .color_success {
  color: #00b472;
}

body.light .color_danger {
  color: #D63649;
}
body.dark .color_danger {
  color: #dd4554;
}

body.light .background_color_primary {
  background-color: #fff;
}
body.dark .background_color_primary {
  background-color: #131a22;
}

.paragraph {
  color: #000;
  font-size: 0.93em;
}
body.light .paragraph {
  color: #000;
}
body.dark .paragraph {
  color: #cacaca;
}

.tac {
  text-align: center;
}

.tae {
  text-align: end;
}

.none {
  display: none !important;
}

.mar_hor {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mar_ver {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mar_end {
  margin-inline-end: 1em;
}

.mar_end_t {
  margin-inline-end: 2em;
}

.mar_top_h {
  margin-top: 0.5em;
}

.mar_top {
  margin-top: 1em;
}

.mar_top_t {
  margin-top: 2em;
}

.w_10 {
  width: 10%;
}

.w_20 {
  width: 20%;
}

.w_30 {
  width: 30%;
}

.w_40 {
  width: 40%;
}

.w_50 {
  width: calc(50% - 2px);
}

.w_60 {
  width: 60%;
}

.w_70 {
  width: 70%;
}

.w_80 {
  width: 80%;
}

.w_90 {
  width: 90%;
}

.w_100 {
  width: 100%;
}

.h_0 {
  height: 0;
}

.h_100 {
  height: 100%;
}

.empty {
  height: 1em;
}

.empty_2 {
  height: 2em;
}

.empty_3 {
  height: 3em;
}

.empty_4 {
  height: 4em;
}

._m50 {
  min-width: 50%;
}

.cp {
  cursor: pointer;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fsb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fwrap {
  flex-wrap: wrap;
}

.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.fss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fbe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fee {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fcs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fw {
  flex-wrap: wrap;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.fw_light {
  font-weight: lighter;
}

.fw_bold {
  font-weight: bold;
}

body.rtl input,
body.rtl td,
body.rtl span,
body.rtl label,
body.rtl option,
body.rtl .inputs {
  direction: rtl;
}

.valid {
  color: #3498db;
}

.invalid {
  color: #8a0029;
}

.ptr {
  cursor: pointer;
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.aside {
  width: 25%;
  min-width: 17em;
  height: 100%;
  align-self: flex-start;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 9;
  overflow: hidden;
}
body.light .aside {
  background-color: #fff;
}
body.dark .aside {
  background-color: #131a22;
}

main.expand .aside {
  width: 4em;
  min-width: 4em;
}

main.expand .aside .profile {
  visibility: hidden;
}

main.expand .aside span {
  display: none;
}

.aside .header {
  width: 100%;
  height: 4em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.light .aside .header {
  background-color: #fff;
}
body.dark .aside .header {
  background-color: #131a22;
}

.aside input {
  width: calc(100% - 2em);
}
body.light .aside input {
  background-color: #f1f1f1;
}
body.dark .aside input {
  background-color: #242f3d;
}
body.light .aside input {
  border-color: #f1f1f1;
}
body.dark .aside input {
  border-color: #fff;
}
body.light .aside input {
  color: #000;
}
body.dark .aside input {
  color: #fff;
}

.aside input::-moz-placeholder {
  opacity: 1;
}

.aside input::placeholder {
  opacity: 1;
}
body.light .aside input::-moz-placeholder {
  color: #999999;
}
body.light .aside input::placeholder {
  color: #999999;
}
body.dark .aside input::-moz-placeholder {
  color: #bdbdbd;
}
body.dark .aside input::placeholder {
  color: #bdbdbd;
}

body.light .aside input:focus,
body.light .aside input:active {
  background-color: #fff;
}
body.dark .aside input:focus,
body.dark .aside input:active {
  background-color: #131a22;
}
body.light .aside input:focus,
body.light .aside input:active {
  border-color: #45b6dc;
}
body.dark .aside input:focus,
body.dark .aside input:active {
  border-color: #4c9ce2;
}

.aside .sep {
  border-bottom: 1px dashed;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.4;
}
body.light .aside .sep {
  border-color: #45b6dc;
}
body.dark .aside .sep {
  border-color: #4c9ce2;
}

.aside .body {
  min-height: calc(100% - 4em);
  overflow: hidden;
}

.aside .body .items {
  overflow-y: overlay;
}

.aside .body .item {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}
body.light .aside .body .item {
  color: #fff;
}
body.dark .aside .body .item {
  color: #fff;
}

body.light .aside .item.selected {
  background-color: #45b6dc;
}
body.dark .aside .item.selected {
  background-color: #4c9ce2;
}

body.light .aside .item.selected span {
  color: #fff;
}
body.dark .aside .item.selected span {
  color: #000;
}

.aside .item .title {
  font-size: 1em;
  font-weight: bold;
}
body.light .aside .item .title {
  color: #000;
}
body.dark .aside .item .title {
  color: #fff;
}

.aside .extra {
  font-size: 0.9em;
}
body.light .aside .extra {
  color: #999999;
}
body.dark .aside .extra {
  color: #bdbdbd;
}

body.light .aside .extra.warning {
  color: #000;
}
body.dark .aside .extra.warning {
  color: #fff;
}

body.light .aside .avatar .alt {
  background-color: #78c5e3;
}
body.dark .aside .avatar .alt {
  background-color: #242f3d;
}

.badge {
  border-radius: 45%;
  padding: 3px;
  font-size: 0.75em;
  min-width: 18px;
  text-align: center;
}
body.light .badge {
  background-color: #45b6dc;
}
body.dark .badge {
  background-color: #4c9ce2;
}
body.light .badge {
  color: #fff;
}
body.dark .badge {
  color: #000;
}

.avatar {
  margin-inline-end: 0.5em;
}
body.light .avatar {
  color: #fff;
}
body.dark .avatar {
  color: #fff;
}

.avatar .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar .alt {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
body.light .avatar .alt {
  background-color: #45b6dc;
}
body.dark .avatar .alt {
  background-color: #4c9ce2;
}
body.light .avatar .alt {
  color: #fff;
}
body.dark .avatar .alt {
  color: #fff;
}

.avatar span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body.light .avatar span {
  background-color: #cce7ff;
}
body.dark .avatar span {
  background-color: #19212a;
}

.aside .item.inner {
  font-size: 0.95em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.aside .item.inner i {
  visibility: hidden;
}

body.light .aside .item.true {
  background-color: #78c5e3;
}
body.dark .aside .item.true {
  background-color: #242f3d;
}
body.light .aside .item.true {
  border-color: #f1f1f1;
}
body.dark .aside .item.true {
  border-color: #242f3d;
}

.aside .item .label {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0px 0.5em;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.expand .aside .item {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

main.expand .aside .item i {
  margin-inline-end: 1em;
  margin-inline-start: 1em;
}

main.expand .aside .item.inner i {
  visibility: visible;
}

.aside .item.wrapper {
  font-weight: 500;
  position: relative;
}

.aside .item.wrapper i {
  visibility: visible;
}

.aside .item.main::before {
  content: "⯈";
  font-family: unicons-line;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 5px;
  top: 1.2em;
  transition: transform 0.3s ease-in-out;
}

.aside .item.main.true::before {
  transform: rotateZ(90deg);
}

.wrap__ {
  opacity: 1;
  transition: all ease-in-out 0.2s;
  overflow: hidden;
}

.wrap__.hide {
  height: 0;
  opacity: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.aside .img {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 10px;
  margin-inline-end: 0.5em;
}

.aside .img img {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}

.overlay.true {
  display: initial;
}

.menu {
  width: 21em;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -22em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 11;
  transition: left 0.3s ease;
}

.menu.true {
  left: 0;
}

.menu_inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body.light .menu_inner {
  background-color: #fff;
}
body.dark .menu_inner {
  background-color: #131a22;
}

.menu_inner .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2em;
}
body.light .menu_inner .header {
  background-color: #45b6dc;
}
body.dark .menu_inner .header {
  background-color: #4c9ce2;
}

.menu_inner .header span {
  cursor: pointer;
}
body.light .menu_inner .header span {
  color: #fff;
}
body.dark .menu_inner .header span {
  color: #fff;
}

.menu_inner .header .right {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
body.light .menu_inner .header .right {
  background-color: #24add3;
}
body.dark .menu_inner .header .right {
  background-color: #9b9b9b;
}

.menu_inner .header .right i {
  font-size: 1.5em;
}
body.light .menu_inner .header .right i {
  color: #fff;
}
body.dark .menu_inner .header .right i {
  color: #fff;
}

.menu_inner .buttons {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu_inner .items {
  height: 100%;
  margin: 1em 0;
}

.menu_inner .item {
  cursor: pointer;
  padding: 1em 2em;
}

body.light .menu_inner .item:hover {
  background-color: #f1f1f1;
}
body.dark .menu_inner .item:hover {
  background-color: #242f3d;
}

.menu_inner .item span {
  font-size: 1em;
  font-weight: 500;
}

.menu_inner .item i {
  margin-inline-end: 1em;
}

.menu_inner .footer {
  padding: 2em;
}
body.light .menu_inner .footer {
  color: #999999;
}
body.dark .menu_inner .footer {
  color: #bdbdbd;
}

.menu_inner .footer span {
  font-weight: lighter;
}
body.light .menu_inner .footer span {
  color: #999999;
}
body.dark .menu_inner .footer span {
  color: #bdbdbd;
}

.menu_inner .app_title {
  font-weight: normal;
}

.new_chat {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.header_ {
  width: 100%;
  height: 4em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  height: calc(100% - 4em);
  width: 100%;
}

.body_inner main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.body_inner main.jcc {
  justify-content: center;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: min(75%, 100% - 17em);
  align-self: flex-start;
  height: 100%;
}

main.expand .content {
  width: calc(100% - 3em);
}

.content.none {
  display: none;
}

.content .header {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-left: 1px solid;
}
body.light .content .header {
  border-color: #d8d8d8;
}
body.dark .content .header {
  border-color: #fff;
}
body.light .content .header {
  background-color: #fff;
}
body.dark .content .header {
  background-color: #131a22;
}

.content .header .info {
  padding: 0 1em;
}

.content .header .title {
  font-weight: bold;
}

body.light .content .header .extra {
  color: #999999;
}
body.dark .content .header .extra {
  color: #bdbdbd;
}

.content .body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 7em);
  overflow: hidden;
}
body.light .content .body {
  background-color: #78c5e3;
}
body.dark .content .body {
  background-color: #242f3d;
}

.content .body.fh {
  height: 100vh;
}

.content .body .messages {
  overflow-y: overlay;
}

.content .footer {
  min-height: 3em;
  max-height: 17em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border-left: 1px solid;
}
body.light .content .footer {
  border-color: #d8d8d8;
}
body.dark .content .footer {
  border-color: #fff;
}
body.light .content .footer {
  background-color: #fff;
}
body.dark .content .footer {
  background-color: #131a22;
}

.content .footer .input {
  align-self: center;
  width: 1%;
  flex: 1 1 auto;
  padding: 0.5em 0;
}

.content .footer .input .text {
  height: auto;
  width: 100%;
  max-height: 15em;
  min-height: 1em;
  height: auto;
  border: none;
  transition: height 0.1s;
  overflow-y: overlay;
}

.content .footer .input .text:empty::before {
  content: attr(data-placeholder);
  display: block;
  pointer-events: none;
}
body.light .content .footer .input .text:empty::before {
  color: #999999;
}
body.dark .content .footer .input .text:empty::before {
  color: #bdbdbd;
}

.content .footer .input .text::-webkit-scrollbar,
.content .footer .input .text::-webkit-scrollbar-thumb,
.content .footer .input .text::-webkit-scrollbar-track {
  display: none;
}

.content .tool {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.content .tool i {
  font-size: 1.75em;
}
body.light .content .tool i {
  color: #999999;
}
body.dark .content .tool i {
  color: #bdbdbd;
}

body.light .content .tool.color_primary i {
  color: #45b6dc;
}
body.dark .content .tool.color_primary i {
  color: #4c9ce2;
}

.content .header .tool {
  height: 4em;
}

.content .header .tool i {
  font-size: 1.5em;
}

.message_error {
  visibility: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1em;
  padding-right: 3em;
  position: relative;
  min-height: 3.5em;
  margin: 1em 0;
  border-radius: 3px;
}
body.light .message_error {
  background-color: #D63649;
}
body.dark .message_error {
  background-color: #dd4554;
}
body.light .message_error {
  color: #fff;
}
body.dark .message_error {
  color: #fff;
}

.message_error.true {
  visibility: visible;
}

.message_error i {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  cursor: pointer;
}
body.light .message_error i {
  color: #fff;
}
body.dark .message_error i {
  color: #fff;
}

.message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5em;
  width: 100%;
}

.message.end {
  justify-content: flex-start;
}

.message .avatar .circle {
  width: 40px;
  height: 40px;
}

.message .message_body {
  border-radius: 9px;
  padding: 1em;
  padding-bottom: 1.5em;
  position: relative;
  max-width: 50%;
  min-width: 6em;
}
body.light .message .message_body {
  background-color: #dff5fd;
}
body.dark .message .message_body {
  background-color: #dff5fd;
}

body.light .message.end .message_body {
  background-color: #fff;
}
body.dark .message.end .message_body {
  background-color: #131a22;
}

.message .message_body p {
  margin: 0;
  white-space: pre-wrap;
  -webkit-user-select: initial;
     -moz-user-select: initial;
          user-select: initial;
}

.message .info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  bottom: 0;
}

.message .info span {
  font-weight: 200;
  font-size: 0.9em;
}
body.light .message .info span {
  color: #999999;
}
body.dark .message .info span {
  color: #bdbdbd;
}

.alert {
  border: 1px solid #ccc;
  max-width: 50vw;
}

.alert h3 {
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}
body.light .alert h3 {
  background-color: #fff;
}
body.dark .alert h3 {
  background-color: #131a22;
}

.alert .alert_content {
  padding: 1em;
  background: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert .alert_content .message {
  padding: 1em;
}

.alert .alert_content i {
  color: #fff;
  margin: 0 3px;
}

.toast {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 35em;
  min-width: 25em;
  padding: 1em;
  padding-inline-end: 4em;
  z-index: 12;
  position: fixed;
  top: 7em;
  right: -40em;
  border-radius: 5px;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}
body.light .toast {
  box-shadow: 4px 3px 8px #d2d2d2;
}
body.dark .toast {
  box-shadow: 4px 3px 8px #272727;
}

.toast .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.toast.error {
  background: #fba8a0;
  color: #000;
}

body.light .toast.error .toast_msg,
body.light .toast.error i {
  color: #000;
}
body.dark .toast.error .toast_msg,
body.dark .toast.error i {
  color: #000;
}

.toast.success {
  background: #b1fbe0;
}

body.light .toast.success .toast_msg,
body.light .toast.success i {
  color: #000;
}
body.dark .toast.success .toast_msg,
body.dark .toast.success i {
  color: #000;
}

.toast i {
  margin: 0 5px;
}

.calenders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.true {
  display: flex;
}

.modal .modal_inner {
  min-width: 35em;
  background: #fff;
  min-height: 100px;
  border-radius: 5px;
}
body.light .modal .modal_inner {
  color: #2E384D;
}
body.dark .modal .modal_inner {
  color: #fff;
}

.modal_inner.min {
  min-width: 20em;
}

.modal_inner.mid {
  min-width: 25em;
}

.modal_inner.mid_static {
  width: 28em;
  min-width: 28em;
  max-width: 28em;
}

.modal .avatar {
  margin-inline-end: 1em;
}

.modal .avatar .circle,
.modal .avatar .alt {
  width: 64px;
  height: 64px;
}

.modal_inner .header {
  padding: 1.5em;
  margin-bottom: 0.5em;
}
body.light .modal_inner .header {
  box-shadow: 0px 1px 1px #c8c8c8;
}
body.dark .modal_inner .header {
  box-shadow: 0px 1px 1px #424242;
}

body.light .modal_inner .header.no_b {
  box-shadow: none;
}
body.dark .modal_inner .header.no_b {
  box-shadow: none;
}

.modal_inner .header input {
  border: none;
}

.modal_inner .body {
  height: 100%;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body.light .modal_inner .body {
  background-color: #f1f1f1;
}
body.dark .modal_inner .body {
  background-color: #242f3d;
}

body.light .modal_inner .body > section {
  background-color: #fff;
}
body.dark .modal_inner .body > section {
  background-color: #131a22;
}

.modal_inner .footer {
  padding: 0.75em;
  margin-top: 0.5em;
}
body.light .modal_inner .footer {
  box-shadow: 0px -1px 1px #c8c8c8;
}
body.dark .modal_inner .footer {
  box-shadow: 0px -1px 1px #424242;
}

.modal .items {
  padding: 1em 0;
  margin-bottom: 1em;
}
body.light .modal .items {
  box-shadow: 0px 1px 1px #c8c8c8;
}
body.dark .modal .items {
  box-shadow: 0px 1px 1px #424242;
}

.modal .items:last-child {
  margin-bottom: 0;
}
body.light .modal .items:last-child {
  box-shadow: none;
}
body.dark .modal .items:last-child {
  box-shadow: none;
}

.modal .item {
  padding: 0.75em 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  min-height: 3em;
}
body.light .modal .item {
  color: #fff;
}
body.dark .modal .item {
  color: #fff;
}

body.light .modal .item:hover {
  background-color: #f1f1f1;
}
body.dark .modal .item:hover {
  background-color: #242f3d;
}

.modal .item.fcb {
  justify-content: space-between;
}

.modal .item.ci, .modal .item.ci label {
  cursor: default;
}

.modal .item .left {
  width: 12%;
}

.modal .item .right {
  width: 85%;
}

.modal .item .right.border_h {
  position: relative;
}

.modal .item .right .border {
  width: 120%;
  position: absolute;
  left: 0;
  height: 1px;
}
body.light .modal .item .right .border {
  background-color: #f1f1f1;
}
body.dark .modal .item .right .border {
  background-color: #242f3d;
}

.modal .item .right label {
  margin-top: 0.5em;
}

.modal .item label {
  cursor: pointer;
}

.modal .item.nohov {
  cursor: initial;
}

body.light .modal .item.nohov:hover {
  background-color: transparent;
}
body.dark .modal .item.nohov:hover {
  background-color: transparent;
}

.modal .imgh {
  width: 50px;
  height: 50px;
  background: rgba(103, 103, 103, 0.51);
  overflow: hidden;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}

.modal .imgh img {
  height: 100%;
  max-width: 100%;
}

.modal.true {
  display: flex;
}

.modal.text form.mini {
  width: 60em;
}

.modal.text .actions {
  width: 100%;
}

.modal .cnt {
  min-width: 400px;
  border-radius: 3px;
  padding: 20px;
  min-height: 20em;
  max-height: 60vh;
  width: 35em;
  max-width: 90vw;
  overflow-y: auto;
  position: relative;
}
body.light .modal .cnt {
  background-color: #fff;
}
body.dark .modal .cnt {
  background-color: #131a22;
}

.modal .cnt i {
  font-size: 3em;
}

.modal .cnt .logo {
  max-width: 10em;
}

.modal .cnt .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  font-size: 2em;
}

.modal .group_photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-inline-end: 2em;
  cursor: pointer;
}
body.light .modal .group_photo {
  background-color: #45b6dc;
}
body.dark .modal .group_photo {
  background-color: #4c9ce2;
}

.modal .group_photo i {
  font-size: 2.75em;
}
body.light .modal .group_photo i {
  color: #fff;
}
body.dark .modal .group_photo i {
  color: #fff;
}

.modal .buttons {
  margin-top: 2em;
}

.modal button {
  width: auto;
  border: none;
  min-width: auto;
  height: 2.5em;
  padding: 0 1em;
}
body.light .modal button {
  color: #45b6dc;
}
body.dark .modal button {
  color: #4c9ce2;
}

body.light .modal button:hover {
  background-color: rgba(69, 182, 220, 0.2);
}
body.dark .modal button:hover {
  background-color: rgba(76, 156, 226, 0.2);
}

iframe {
  min-height: 50vh;
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input label {
  position: absolute;
  left: 0;
  z-index: 2;
  cursor: text;
  top: -1.25em;
  font-size: 1em;
  transition: 0.1s all ease;
}

.input input, .input textarea {
  position: relative;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  height: 2em;
  padding: 0;
}

.input textarea {
  height: 1.75em;
}

.input input:-moz-placeholder-shown + label, .input textarea:-moz-placeholder-shown + label {
  font-size: 1.15em;
  top: calc(100% - 25px);
}

.input input:placeholder-shown + label, .input textarea:placeholder-shown + label {
  font-size: 1.15em;
  top: calc(100% - 25px);
}

.input input:focus + label, .input textarea:focus + label {
  font-size: 1em;
  top: -1.25em;
}
body.light .input input:focus + label, body.light .input textarea:focus + label {
  color: #45b6dc;
}
body.dark .input input:focus + label, body.dark .input textarea:focus + label {
  color: #4c9ce2;
}

.signinup .body_inner main {
  min-height: 100%;
}
body.light .signinup .body_inner main {
  background-color: #fff;
}
body.dark .signinup .body_inner main {
  background-color: #131a22;
}

.signinup {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.signinup .img {
  overflow: hidden;
  width: 55%;
  height: 100vh;
}

.signinup .img img {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}

.login {
  padding-bottom: 3em;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.login .header {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background-image: url(assets/images/background.jpg);
  background-position: center;
}

.login .body {
  height: 60vh;
}
body.light .login .body {
  background-color: #fff;
}
body.dark .login .body {
  background-color: #131a22;
}

.login .inputs {
  margin: 4em 0;
}

.login .inputs_item {
  margin: 1em;
  margin-top: 2em;
  min-height: 2em;
}

.error_icon {
  display: none;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: calc(100% + 0.1em);
  bottom: 0.5em;
}
body.light .error_icon {
  background-color: #D63649;
}
body.dark .error_icon {
  background-color: #dd4554;
}
body.light .error_icon {
  color: #fff;
}
body.dark .error_icon {
  color: #fff;
}

.error_icon.top_0 {
  top: 0;
}

.error_msg {
  display: flex;
  align-items: center;
  min-height: 1em;
  padding: 0.4em 0.1em;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  white-space: normal;
}
body.light .error_msg {
  color: #D63649;
}
body.dark .error_msg {
  color: #dd4554;
}

body.light .error > input,
body.light .error > .autocomplete_h > input,
body.light .error > .dt_h > input,
body.light .error > select,
body.light .error > .select,
body.light .error > textarea,
body.light .error > .checkbox {
  border-color: #D63649;
}
body.dark .error > input,
body.dark .error > .autocomplete_h > input,
body.dark .error > .dt_h > input,
body.dark .error > select,
body.dark .error > .select,
body.dark .error > textarea,
body.dark .error > .checkbox {
  border-color: #dd4554;
}

body.light .error > input:focus,
body.light .error > .autocomplete_h > input:focus,
body.light .error > .checkbox:focus {
  border-color: #D63649;
}
body.dark .error > input:focus,
body.dark .error > .autocomplete_h > input:focus,
body.dark .error > .checkbox:focus {
  border-color: #dd4554;
}

.error > .error_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error > .error_msg {
  visibility: visible;
}

.loading_sections {
  display: block;
  height: 1.5em;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
body.light .lds-spinner {
  color: #000;
}
body.dark .lds-spinner {
  color: #fff;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
}
body.light .lds-spinner div:after {
  background-color: #45b6dc;
}
body.dark .lds-spinner div:after {
  background-color: #4c9ce2;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-ellipsis {
  display: none;
  position: relative;
  width: 20px;
  height: 10px;
}

.lds-ellipsis.true {
  display: inline-block;
}

.lds-ellipsis div {
  position: absolute;
  top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
body.light .lds-ellipsis div {
  background-color: #fff;
}
body.dark .lds-ellipsis div {
  background-color: #131a22;
}

.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.48s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.48s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.48s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 30px;
  animation: lds-ellipsis3 0.48s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
.textzone {
  border: 1px solid;
  min-height: 6em;
  min-width: 12em;
  padding: 1em;
  border-radius: 3px;
  margin: 0;
}
body.light .textzone {
  border-color: #f1f1f1;
}
body.dark .textzone {
  border-color: #fff;
}

.progress_bar {
  width: 80%;
  height: 1.25em;
  border-radius: 30px;
  overflow: hidden;
  z-index: 15;
  position: relative;
}
body.light .progress_bar {
  box-shadow: 0px 0px 1px #000;
}
body.dark .progress_bar {
  box-shadow: 0px 0px 1px #fff;
}
body.light .progress_bar {
  background-color: #fff;
}
body.dark .progress_bar {
  background-color: #131a22;
}

.progress_bar .bar {
  height: 100%;
  width: 0%;
}
body.light .progress_bar .bar {
  background-color: #00b472;
}
body.dark .progress_bar .bar {
  background-color: #00b472;
}

.progress_bar .percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  overflow: visible;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -2px;
  bottom: -2px;
  transition: 0.4s;
  border: 2px solid;
}
body.light .slider:before {
  background-color: #fff;
}
body.dark .slider:before {
  background-color: #131a22;
}
body.light .slider:before {
  border-color: #d8d8d8;
}
body.dark .slider:before {
  border-color: #fff;
}

body.light input:checked + .slider {
  background-color: #45b6dc;
}
body.dark input:checked + .slider {
  background-color: #4c9ce2;
}

body.light input:checked + .slider::before {
  border-color: #45b6dc;
}
body.dark input:checked + .slider::before {
  border-color: #4c9ce2;
}

body.light input:focus + .slider {
  box-shadow: 0 0 1px #45b6dc;
}
body.dark input:focus + .slider {
  box-shadow: 3px 2px 5px #4c9ce2;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

form {
  padding: 2em;
  padding-bottom: 1em;
}

.contact .avatar .circle {
  width: 48px;
  height: 48px;
}

.files {
  overflow-y: auto;
  max-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.file {
  width: 100%;
  margin: 1em 1px;
  position: relative;
}

.file.img {
  flex: 0;
  margin: 1px;
}

.file .delete {
  cursor: pointer;
  font-size: 1.5em;
}

.file.img .delete {
  position: absolute;
  top: 1px;
  right: 1px;
  background: rgba(6, 6, 6, 0.29);
  color: #fff;
}

.files .img {
  max-width: 25%;
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.files .img img {
  max-width: 100%;
}

.skeleton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  margin: 0;
}
body.light .skeleton {
  background-color: #f1f1f1;
}
body.dark .skeleton {
  background-color: #242f3d;
}

.skeleton_header {
  width: 100%;
  height: 4em;
  padding: 0 1.5em;
  position: relative;
}
body.light .skeleton_header {
  box-shadow: 0 1px 1px #e5e5e5;
}
body.dark .skeleton_header {
  box-shadow: 0 1px 1px #353535;
}

.skeleton_header .items {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.skeleton_header .item {
  position: relative;
  width: 200px;
  height: 3em;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

.skeleton_header_anim_h {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%);
  animation: skeleton_loading 1.5s infinite;
}

.skeleton_header_anim {
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, rgba(242, 243, 245, 0) 0, rgba(242, 243, 245, 0.8) 50%, rgba(242, 243, 245, 0) 100%);
}

.skeleton_content {
  width: calc(100% - 17em);
  height: 100%;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.skeleton_content .items .title {
  height: 108px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
}

.skeleton_content .items .filter {
  height: 60px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 100px;
}

.skeleton_content .items .table {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 30px;
}

.skeleton_content_anim_h {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%);
  animation: skeleton_loading 1.5s infinite;
}

.skeleton_content_anim {
  position: absolute;
  width: 400px;
  height: 100%;
  background: linear-gradient(90deg, rgba(242, 243, 245, 0) 0, rgba(242, 243, 245, 0.8) 50%, rgba(242, 243, 245, 0) 100%);
}

.skeleton_aside {
  width: 17em;
  height: 100%;
  padding: 2em;
  padding-inline-start: 2em;
  padding-inline-end: 3em;
  position: relative;
  overflow: hidden;
  background-color: #00455d;
}

.skeleton_aside .items > div {
  height: 30px;
  width: 100%;
  border-radius: 8px;
  background-color: #005774;
  margin: 20px 0;
}

.skeleton_aside_anim_h {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%);
  animation: skeleton_aside_loading 1.5s infinite;
}

.skeleton_aside_anim {
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 69, 93, 0) 0, rgba(0, 69, 93, 0.8) 50%, rgba(0, 69, 93, 0) 100%);
}

@keyframes skeleton_loading {
  to {
    transform: translateX(125%);
  }
}
@keyframes skeleton_aside_loading {
  to {
    transform: translateX(125%);
  }
}
@media all and (max-width: 900px) {
  .aside {
    width: 20%;
  }
  .content {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */